<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <title>Личный кабинет</title>
    <script>
        function toggleTable(tableId, button) {
            const table = document.getElementById(tableId);
            table.classList.toggle('hidden');
            if (table.classList.contains('hidden')) {
                button.style.backgroundColor = '#28a745'; // Исходный зеленый цвет
            } else {
                button.style.backgroundColor = '#dc3545'; // Красный цвет при открытии
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <a href="{{ url_for('logout') }}" class="logout-link">Выход</a>
        <h1>Личный кабинет</h1>
        <div class="user-info">
            <h2>{{ boss.name }} {{ boss.last_name }}</h2>
            <p>Email: {{ boss.email }}</p>
            <p>Token: {{ boss.unique_token }}</p>
        </div>

        <h3>Фильтрация пользователей</h3>
        <div class="filter-container">
            <form method="POST">
                <select name="user_email">
                    <option value="">Все пользователи</option>
                    {% for user in unique_users %}
                        <option value="{{ user.email }}" {% if user.email == selected_email %}selected{% endif %}>
                            {{ user.first_name }} {{ user.last_name }} - {{ user.email }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit">Фильтровать</button>
            </form>
        </div>

        <h3>Список пользователей</h3>
        <ul class="user-list">
            {% for user in users %}
                <li>
                    <div class="user-info">
                        {{ user.first_name }} {{ user.last_name }} - {{ user.email }} <br>
                        Start Date: {{ user.start_date }} <br>
                        End Date: {{ user.end_date }} <br>
                        <div class="buttons">
                            <button class="button" onclick="toggleTable('results-{{ user.id }}', this)">Подробнее</button>
                            <button class="button" onclick="toggleTable('visited-{{ user.id }}', this)">Журнал</button>
                        </div>
                    </div>
                    <div class="table-container hidden" id="results-{{ user.id }}">
                        <h4>Результаты</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Приложение</th>
                                    <th>Время</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for app, time in user.results.items() %}
                                    <tr>
                                        <td>{{ app }}</td>
                                        <td>{{ time }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="table-container hidden" id="visited-{{ user.id }}">
                        <h4>Посещенные приложения</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Приложение</th>
                                    <th>Время</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for app, time in user.visited_apps.items() %}
                                    <tr>
                                        <td>{{ app }}</td>
                                        <td>{{ time }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
